{% extends 'base.html' %}

{% block title %}Не найдено!{% endblock %}

{% block mainbuttons %}
<li><a href='{% url 'home' %}' class="nav-link px-2 text-secondary">Главная</a></li>
<li><a href='{% url 'faces_of_war' %}' class="nav-link px-2 text-secondary">Война в лицах</a></li>
    <li><a href='{% url 'quotes' %}' class="nav-link px-2 text-secondary">Цитаты</a></li>
{% endblock %}

{% block main %}
    <div class="container text-white">
    <div style="font-size: 200px; text-align: center">404</div>
    <div style="font-size: 20px; text-align: center">Страница не найдена!<br><br>
    <a href='{% url 'home' %}' class="btn btn-outline-success btn-sm">На главную</a>
    </div>


            </div>
{% endblock %}