{% extends 'base.html' %}

{% block title %}Добавление цитаты{% endblock %}

{% block mainbuttons %}
<li><a href='{% url 'home' %}' class="nav-link px-2 text-secondary">Главная</a></li>
<li><a href='{% url 'faces_of_war' %}' class="nav-link px-2 text-secondary">Война в лицах</a></li>
    <li><a href='{% url 'quotes' %}' class="nav-link px-2 text-secondary">Цитаты</a></li>
{% endblock %}

{% block main %}
    <div class="container my-lg-4">

    <div class="row">
        <div class="col-4">
            <div class="alert alert-light text-black">
            <form method="POST"> {% csrf_token %}
                {{ form.real_author }}<br>
                {{ form.date }}<br>
                {{ form.source }}<br>
                {{ form.place }}<br>
                {{ form.text }}<br>
                {{ form.photo }}<br>
                {{ form.author }}
               <div align="center">
                <div style="width: 49%; display: inline-block">{{ form.type }}</div>
                <button class="btn btn-outline-success" style="width: 49%; display: inline-block; margin-bottom: 5px" type="submit">Добавить личность</button>
                </div>
        </form>
                <script>
            var name = '{{ user.id }}';
            document.getElementById('username_author').value = name;
        </script>
            </div></div>
                <div class="col-8">
                <div class="alert alert-light text-black">
        <ul>
  <li>Указывайте автора, год, источник и место, если известны подлинные данные. Эти поля являются необязательными.</li>
            <li>Поле с текстом цитаты поддерживает <a href="https://metanit.com/web/html5/2.3.php" target="_blank">гипертекстовую разметку</a>.</li>
  <li>Вводите только прямую ссылку на фотокарточку, желательно из надёжного хранилища, например, Github, т.к. в таком случае при падении нашей базы данных часть её останется в целости. Обязательно загружайте фотокарточки шириной в 893 пикселя и высотой в 180 пикселей.</li>
            <li>Не обязательно привязывать цитату к фотокарточке, главное, чтобы она изображала Первую мировую войну.</li><br>
            <span class="text-muted"><i>Все записи проходят пост-модерацию, ведь мы надеемся на Вашу сознательность и порядочность. Записи с грубыми нарушениями будут удаляться, а их авторы могут быть заблокированы.<br>Если у Вас возникли проблемы с добавлением записи, но Вы очень хотите её добавить, свяжитесь с нами: <a href="mailto:rocknoxinteractive@gmail.com">rocknoxinteractive@gmail.com</a>.</i></span>
</ul>
                </div></div>

    <div class="text-muted" align="right">
    </div>
    </div>
</div>

{% endblock %}