{% extends 'base.html' %}

{% block title %}{{ face.name }}{% endblock %}

{% block mainbuttons %}
<li><a href='{% url 'home' %}' class="nav-link px-2 text-secondary">Главная</a></li>
<li><a href='{% url 'faces_of_war' %}' class="nav-link px-2 text-secondary">Война в лицах</a></li>
    <li><a href='{% url 'quotes' %}' class="nav-link px-2 text-secondary">Цитаты</a></li>
{% endblock %}

{% block main %}
    <div class="container my-lg-4">

    <div class="alert alert-light text-black">

    <div class="row">
        <div class="col-3">
        <img src="{{ face.photo }}" alt="{{ face.name }}" width="280px" height="400px" style="border-radius: 3%;">
            <a href='{% url 'faces_of_war' %}' class="btn btn-lg btn-outline-dark btn-sm" style="margin-top: 10px">Назад</a>
            {% if user.id == face.author.id or user.is_superuser %}
            <a href="/edit-face/{{ face.id }}" class="btn btn-lg btn-outline-success btn-sm" style="margin-top: 10px; margin-left: 17px">Редактировать</a>
            <a href="/delete-face/{{ face.id }}" class="btn btn-lg btn-outline-danger btn-sm" style="margin-top: 10px; margin-left: 17px">Удалить</a>
            {% endif %}
        </div>
                <div class="col-8">

<h2><b>{{ face.name }} </b></h2>
        Годы жизни: <i>{{ face.lifetime_start }} - {{ face.lifetime_end }}</i><br>
        Страна: <i>{{ face.country }}</i><br>
        Войска: <i>{{ face.army }}, {{ face.army_part }}</i><br>
        Должность/звание: <i>{{ face.rank|lower  }}</i><br><br>
            <i>{{ face.biography|safe }}</i>
                </div></div>

    <div class="text-muted" align="right">
        <i>Автор: {{ face.author.first_name }} {{ face.author.last_name }}</i>
    </div>
    </div>
</div>
    </div>

    <div class="container">
    {% if user.is_authenticated %}
<div class="alert alert-light text-black">
        <form method="post" action="">
            {% csrf_token %}
            {{ form.text }} {{ form.author }} {{ form.face }}
            <input type="submit" value="Отправить" class="btn btn-outline-dark btn-sm" style="margin-top: 10px">
        </form>
    <script>
            var name = '{{ user.id }}';
            document.getElementById('username_author').value = name;
        </script>
    </div>
    {% endif %}
{% if not face.face_comment.all %}
    <div class="alert alert-light text-black" style="width: 50%">
    <strong>Комментариев нет...</strong>
    </div>
    {% else %}
    {% for comment in face.face_comment.all %}
        <div class="alert alert-light text-black" style="width: 50%">
        <strong>{{ comment.author.first_name }} {{ comment.author.last_name }}</strong>
        <br>{{ comment.text }}
        <div class="text-muted" align="right">
        <i>{{ comment.author }} - {{ comment.creation_date.date }} в {{ comment.creation_date.time }}</i>
        </div>
        </div>
    {% endfor %}
        {% endif %}

{% endblock %}