{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block mainbuttons %}
    <li><span class="nav-link px-2 text-success">Главная</span></li>
<li><a href='{% url 'faces_of_war' %}' class="nav-link px-2 text-secondary">Война в лицах</a></li>
    <li><a href='{% url 'quotes' %}' class="nav-link px-2 text-secondary">Цитаты</a></li>
{% endblock %}

{% block main %}
<br>
<div class="album bg-dark">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="https://user-images.githubusercontent.com/75385700/170894246-8edbc42b-0878-4426-879b-a6a2c887a6c1.png" width="50%" height="50%" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect></img>
            <div class="card-body">
              <p class="card-text">Первая мировая в фотографиях.<br>Перевод проекта Алана Тейлора, The Atlantic.</p>
              <div class="d-flex justify-content-between align-items-center">
                  <a href='./1' type="button" class="btn btn-lg btn-outline-dark btn-sm">Введение</a>
                <small class="text-muted"><a href='https://www.theatlantic.com/projects/world-war-i-in-photos/' target="_blank">World War I In Photos Project</a></small>
              </div>
            </div>
          </div>
        </div>
    <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="https://user-images.githubusercontent.com/75385700/170893850-066178a3-d908-41a4-908b-42763e6b3418.png" width="50%" height="50%" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect></img>
            <div class="card-body">
              <p class="card-text">Фотографии личностей. Портреты и в полный рост, известные и неизвестные.</p>
              <div class="d-flex justify-content-between align-items-center">
                  <a href='{% url 'faces_of_war' %}' type="button" class="btn btn-lg btn-outline-dark btn-sm">Война в лицах</a>
              </div>
            </div>
          </div>
        </div>
    <div class="col">
          <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="https://user-images.githubusercontent.com/75385700/170894231-3f726382-2c11-4b12-87c4-adae2a0f4619.png" width="50%" height="50%" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect></img>
            <div class="card-body">
              <p class="card-text">Слова солдат и политиков военного времени из книг, воспоминаний.</p>
              <div class="d-flex justify-content-between align-items-center">
                  <a href='{% url 'quotes' %}' type="button" class="btn btn-lg btn-outline-dark btn-sm">Цитаты</a>
              </div>
            </div>
          </div>
        </div>
      </div>

<div class="pt-5">
    {% for article in article_page %}
    <div class="alert alert-light text-black">
        <h2><b><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></b></h2>
        <i>{{ article.snippet }}</i>
    </div>
    {% endfor %}
<div class="text-muted">
{% if article_page.has_previous %}
    <a href="?page=1">&laquo Первая</a>
    <a href="?page={{ article_page.previous_page_number }}">Назад</a>
    <span> | </span>
{% endif %}

<span>Страница {{ article_page.number }} из {{ article_page.paginator.num_pages }}</span>

{% if article_page.has_next %}
    <span> | </span>
    <a href="?page={{ article_page.next_page_number }}">Вперёд</a>
    <a href="?page={{ article_page.paginator.num_pages }}">Последняя &raquo</a>
{% endif %}
</div>
{% endblock %}