{% extends 'base.html' %}

{% block title %}Цитаты{% endblock %}

{% block mainbuttons %}
<li><a href='{% url 'home' %}' class="nav-link px-2 text-secondary">Главная</a></li>
<li><a href='{% url 'faces_of_war' %}' class="nav-link px-2 text-secondary">Война в лицах</a></li>
    <li><span class="nav-link px-2 text-success">Цитаты</span></li>
{% endblock %}

{% block main %}
    <div class="container my-lg-4">
    {% for quote in quote_list %}
    <div class="card mb-3">
  <img class="card-img-top" src="{{ quote.photo }}" alt="Card image cap">
  <div class="card-body">
    <span class="card-text" align="justify"><i>{{ quote.text|safe }}</i></span><br>
    <small class="text-muted"><i>
        {% if quote.real_author %}<br>{{ quote.real_author }}{% endif %}
        {% if quote.date %}<br>{{ quote.date }}{% endif %}
        {% if quote.source %}<br>{{ quote.source }}{% endif %}
        {% if quote.place %}<br>{{ quote.place }}{% endif %}</i>
    </small>
  </div>

</div>
    {% endfor %}
    </div>

{% endblock %}