{% extends 'base.html' %}

{% block title %}Цитаты{% endblock %}

{% block mainbuttons %}
<li><a href='{% url 'home' %}' class="nav-link px-2 text-secondary">Главная</a></li>
<li><a href='{% url 'faces_of_war' %}' class="nav-link px-2 text-secondary">Война в лицах</a></li>
    <li><span class="nav-link px-2 text-success">Цитаты</span></li>
{% endblock %}

{% block main %}
       <div class="container" align="center">
<br>

    <div class="py-2 my-1">


        <a class="btn btn-outline-success px-2 btn-sm" style="width: 200px" href="{% url 'quotes_Literature' %}">Литература</a>
        <a class="btn btn-outline-success px-2 btn-sm" style="width: 200px" href="{% url 'quotes_Document' %}">Документ</a>
        <a class="btn btn-outline-success px-2 btn-sm" style="width: 200px" href="{% url 'quotes_Memories' %}">Воспоминания</a>
        <a class="btn btn-success px-2 btn-sm" style="width: 200px" href="{% url 'quotes' %}">Случайный порядок</a>
</div>


    <div align="center">
    <div class="container my-lg-4">
    {% for quote in quote %}
    <div class="card mb-3" style="width: 60%" align="center">
  <img class="card-img-top" src="{{ quote.photo }}" alt="Card image cap" width="50%" height="50%">
  <div class="card-body">
    <span class="card-text" align="center"><i>{{ quote.text|safe }}</i></span><br>
    <small class="text-muted"><i>
        {% if quote.real_author %}<br>{{ quote.real_author }}{% endif %}
        {% if quote.date %}<br>{{ quote.date }}{% endif %}
        {% if quote.source %}<br>{{ quote.source }}{% endif %}
        {% if quote.place %}<br>{{ quote.place }}{% endif %}</i>
    </small>
  </div>

</div>
    {% endfor %}

    </div></div>


{% endblock %}